:root {
    --primary-blue: #446879;
    --primary-gray: #808080;
    --primary-white: #ffffff;
}

.padding-1 {
    padding: 1em 1em 1em 1em;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf');
}

body {
    margin: 0;
    font-family: 'Montserrat', serif, sans-serif;
    text-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 3px;
}

.header {
    width: 100%;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: right;
    box-sizing: border-box;
}

.left {
    flex: 20%;
    background-color: var(--primary-gray);
    color: var(--primary-white);
    text-align: right;
}

.stack button {
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #fff;
    background-color: var(--primary-gray);
    color: var(--primary-white);
}

.contact a {
    color: var(--primary-white);
    text-decoration: none;
}

.contact a:active {
    color: var(--primary-white);
}

.contact a:visited {
    color: var(--primary-white)
}

.right {
    flex: 80%;
    background-color: var(--primary-white);
    text-align: right;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .flex-row {
        flex-direction: column;
    }
}