:root {
    --primary-1: #0d1b2aff;
    --primary-2: #1b263bff;
    --primary-3: #415a77ff;
    --primary-4: #778da9ff;
    --primary-5: #e0e1ddff;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf');
}

.primary-1 {
    background-color: var(--primary-1);
    color: white;
}

.primary-2 {
    background-color: var(--primary-2);
    color: white;
}

.primary-3 {
    background-color: var(--primary-3);
    color: white;
}

.primary-4 {
    background-color: var(--primary-4);
    color: black;
}

.primary-5 {
    background-color: var(--primary-5);
    color: black;
}

body {
    margin: 0;
    font-family: 'Montserrat', serif, sans-serif;
    text-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 3px;
}

.padding-1 {
    padding: 1em 1em 1em 1em;
}

.header {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
}

.left {
    flex: 20%;
    text-align: right;
}

.stack button {
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid;
    background-color: inherit;
    color: var(--primary-white);
}

.border-light {
    border-color: white;
}

.border-dark {
    border-color: black;
}

.contact a {
    color: inherit;
    text-decoration: none;
}

.contact a:active {
    color: inherit;
}

.contact a:visited {
    color: inherit;
}

.right {
    flex: 80%;
    text-align: right;
    box-sizing: border-box;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.bold {
    font-weight: 700;
}

.control {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

@media only screen and (max-width: 768px) {
    .flex-row {
        flex-direction: column;
    }
}

@media (prefers-color-scheme:dark) {
    .default-color-scheme {}
}

@media (prefers-color-scheme:light) {
    .default-color-scheme {}
}